@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

@font-face {
  font-family: 'MondayRush';
  font-weight: 400;
  font-display: swap;
  src: url('/MondayRush-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CenturyGothic';
  font-weight: 400;
  font-display: swap;
  src: url('/CenturyGothic.otf') format('opentype');
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: thin dotted !important;
}

.pinkSelect {
  -webkit-tap-highlight-color: rgb(249 168 212);
}

a::selection {
  background: rgb(249 168 212);
}
a::-moz-selection {
  background: rgb(249 168 212);
}

div::selection {
  background: rgb(249 168 212);
}
div::-moz-selection {
  background: rgb(249 168 212);
}

em::selection {
  background: rgb(249 168 212);
}
em::-moz-selection {
  background: rgb(249 168 212);
}

h1::selection {
  background: rgb(249 168 212);
}
h1::-moz-selection {
  background: rgb(249 168 212);
}

h2::selection {
  background: rgb(249 168 212);
}
h2::-moz-selection {
  background: rgb(249 168 212);
}

iframe::selection {
  background: rgb(249 168 212);
}
iframe::-moz-selection {
  background: rgb(249 168 212);
}

img::selection {
  background: rgb(249 168 212);
}
img::-moz-selection {
  background: rgb(249 168 212);
}

p::selection {
  background: rgb(249 168 212);
}
p::-moz-selection {
  background: rgb(249 168 212);
}

svg::selection {
  background: rgb(249 168 212);
}
svg::-moz-selection {
  background: rgb(249 168 212);
}

u::selection {
  background: rgb(249 168 212);
}
u::-moz-selection {
  background: rgb(249 168 212);
}

.siteBackground {
  @apply bg-customStone bg-cover overflow-y-auto no-scrollbar w-screen h-screen justify-center items-center;
}

.wrapper {
  @apply h-full w-11/12 py-4 px-4;
  @media (min-width: theme('screens.xxxxs')) {
    @apply w-11/12;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply w-10/12;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply w-10/12;
  }
  @media (min-width: theme('screens.xs')) {
    @apply w-10/12;
  }
  @media (min-width: theme('screens.sm')) {
    @apply w-10/12;
  }
  @media (min-width: theme('screens.md')) {
    @apply w-9/12;
  }
  @media (min-width: theme('screens.lg')) {
    @apply w-9/12;
  }
  @media (min-width: theme('screens.xl')) {
    @apply w-8/12;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply w-8/12;
  }
}

.card {
  @apply bg-white bg-center bg-contain text-center justify-start h-full no-scrollbar overflow-y-auto rounded-3xl shadow-2xl;
  @media (min-width: theme('screens.xxxxs')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.xs')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.sm')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.md')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.lg')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.xl')) {
    @apply px-7 py-4;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply px-7 py-4;
  }
}

.tabList {
  @apply list-none space-x-2 text-xl text-black border-b-2 border-customStone;
  @media (min-width: theme('screens.xxxxs')) {
    @apply py-2;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply py-2;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply py-2;
  }
  @media (min-width: theme('screens.xs')) {
    @apply py-2;
  }
  @media (min-width: theme('screens.sm')) {
    @apply text-2xl py-4;
  }
  @media (min-width: theme('screens.md')) {
    @apply text-2xl py-4;
  }
  @media (min-width: theme('screens.lg')) {
    @apply text-2xl py-4;
  }
  @media (min-width: theme('screens.xl')) {
    @apply text-2xl py-4;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply text-2xl py-4;
  }
}

.tabListItem {
  @apply text-xl text-center font-mondayRush;
  @media (min-width: theme('screens.sm')) {
    @apply text-2xl;
  }
}

.imageLinkList {
  @apply h-full justify-around;
  @media (min-width: theme('screens.xxxxs')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply justify-start;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply justify-start;
  }
  @media (min-width: theme('screens.xs')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.sm')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.md')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.lg')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.xl')) {
    @apply justify-around;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply justify-around;
  }
}

.imageLink {
  @apply aspect-w-7 aspect-h-3 self-center w-11/12;
  @media (min-width: theme('screens.xxxxs')) {
    @apply aspect-w-7 aspect-h-3 w-11/12 mt-4;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply aspect-w-7 aspect-h-3 w-11/12 mt-4;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply aspect-w-7 aspect-h-3 w-11/12 mt-6;
  }
  @media (min-width: theme('screens.xs')) {
    @apply aspect-w-8 aspect-h-2 w-10/12;
  }
  @media (min-width: theme('screens.sm')) {
    @apply aspect-w-7 aspect-h-3 w-9/12;
  }
  @media (min-width: theme('screens.md')) {
    @apply aspect-w-7 aspect-h-3 w-9/12;
  }
  @media (min-width: theme('screens.lg')) {
    @apply aspect-w-7 aspect-h-3 w-8/12;
  }
  @media (min-width: theme('screens.xl')) {
    @apply aspect-w-10 aspect-h-2 w-7/12;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply aspect-w-10 aspect-h-2 w-7/12;
  }
}

.imageLinkItem {
  @apply object-fill w-full h-full rounded-imageLink;
}

.imageLinkTransitionItem {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .5s ease;
}

.imageLinkTransitionContainer:hover .imageLinkTransitionItem {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

@media (pointer: coarse) {
  @keyframes bwToColor {
    0% {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    50% {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
    100% {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .imageLinkTransitionItem {
    animation: 6s ease 1s 3 normal none running bwToColor;
  }
}

.titleCardItem {
  @apply object-fill w-full h-full;
}

.socialLinksList {
  @apply flex justify-center mt-5 pt-2 space-x-1 border-t-2 border-customStone;
}

.comicsGalleryList {
  @apply grid-cols-1 gap-1;
  @media (min-width: theme('screens.xxxxs')) {
    @apply grid-cols-1 gap-4;
  }
  @media (min-width: theme('screens.xxxs')) {
    @apply grid-cols-1 gap-4;
  }
  @media (min-width: theme('screens.xxs')) {
    @apply grid-cols-1 gap-4;
  }
  @media (min-width: theme('screens.xs')) {
    @apply grid-cols-1 gap-4;
  }
  @media (min-width: theme('screens.sm')) {
    @apply grid-cols-2 gap-4;
  }
  @media (min-width: theme('screens.md')) {
    @apply grid-cols-2 gap-4;
  }
  @media (min-width: theme('screens.lg')) {
    @apply grid-cols-3 gap-4;
  }
  @media (min-width: theme('screens.xl')) {
    @apply grid-cols-3 gap-4;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply grid-cols-3 gap-4;
  }
}

.lightbox {
  @apply w-screen h-screen z-50 fixed;
}

.pdfBtn {
  @apply bg-black font-mondayRush self-center cursor-pointer text-center text-white rounded-3xl mt-2 w-24 h-8 pt-1 text-xl;
  @media (min-width: theme('screens.xs')) {
    @apply pt-2 w-28 h-10;
  }
  @media (min-width: theme('screens.md')) {
    @apply pt-1.5 w-32 text-2xl;
  }
  @media (min-width: theme('screens.xl')) {
    @apply w-40 text-3xl;
  }
}
.pdfBtn:hover {
  background-color: rgb(110, 80, 108);
}

.pdfImg {
  @apply object-fill w-full h-full flex-1 pt-4 pb-2;
}

.aboutImgWrapper {
  @apply self-center w-48 h-48;
  @media (min-width: theme('screens.xs')) {
    @apply w-56 h-56;
  }
  @media (min-width: theme('screens.lg')) {
    @apply aspect-w-1 aspect-h-1;
  }
  @media (min-width: theme('screens.xl')) {
    @apply w-56 h-56;
  }
  @media (min-width: theme('screens.2xl')) {
    @apply w-56 h-56;
  }
}

.aboutImg {
  @apply object-fill rounded-imageLink;
  @media (min-width: theme('screens.lg')) {
    @apply w-full h-full;
  }
}

.aboutLeft {
  @apply flex flex-col pt-4 break-words;
  @media (min-width: theme('screens.lg')) {
    @apply w-1/2 pt-10;
  }
}

.aboutRight {
  @apply flex flex-col break-words;
  @media (min-width: theme('screens.lg')) {
    @apply pl-8;
  }
}

.aboutHeading1 {
  @apply text-2xl font-mondayRush;
  @media (min-width: theme('screens.sm')) {
    @apply text-3xl;
  }
}

.aboutHeading2 {
  @apply text-xl font-mondayRush;
  @media (min-width: theme('screens.sm')) {
    @apply text-2xl;
  }
}

.artTitle {
  @apply text-2xl font-mondayRush;
  @media (min-width: theme('screens.sm')) {
    @apply text-3xl;
  }
}

.artBlurb {
  @apply font-centuryGothic pb-4;
}

/*
xxxxs 283px	@media (min-width: 283px) { ... }
xxxs  374px	@media (min-width: 374px) { ... }
xxs   389px	@media (min-width: 389px) { ... }
xs    475px	@media (min-width: 475px) { ... }
sm	  640px	@media (min-width: 640px) { ... }
md	  768px	@media (min-width: 768px) { ... }
lg	 1024px	@media (min-width: 1024px) { ... }
xl	 1280px	@media (min-width: 1280px) { ... }
2xl	 1536px	@media (min-width: 1536px) { ... }
*/